img,body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
      display: flex;
    justify-content: center;
    align-items:center ;
  }

  p{
    margin: 0;
    color: gray;
    letter-spacing: 3px;
}

  .card{
    height:285px;
    width: 486px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    box-shadow: 6px 9px 29px 3px rgba(0,0,0,0.75);
      }
  .song{
    width: 486px;
    height: 175px;
    display: flex;
    border-bottom: 1px solid gray;
  }
  .album-cover{
    height: 175px;
  }
  .song-info{
      width: auto;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;


  }
  .song-title{
    width: 100%;
    margin: 0 0px 16px 0 ;
  }

  .rating{
      display: flex;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      align-content: center;
  }
  .rate-star{
    height:30px;
    width:30px;
    margin: 0px 0px;
  }